[Desktop Entry]
Name=kwin-edgescript
Type=Service
Icon=kwin
Comment=Kwin script to add custom actions to Plasma edges.
X-Plasma-API=DBus
X-Plasma-DBusRunner-Service=com.belka.edgescript2
X-Plasma-DBusRunner-Path=/scripts
X-KDE-ServiceTypes=Plasma/Runner
X-KDE-PluginInfo-Author=BelkaDev
X-KDE-PluginInfo-Email=belk5@hotmail.com
X-KDE-PluginInfo-Name=kwin-edgescript
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL-3.0
X-KDE-PluginInfo-Icon=Kwin
X-KDE-PluginInfo-EnabledByDefault=true