[Desktop Entry]
Name=Youtub
Comment=Generic command for KWin.
Icon=kwin
Type=Service

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KWin-Border-Activate=true
X-KDE-PluginInfo-Author=Belka
X-KDE-PluginInfo-Email=belk5@hotmail.com
X-KDE-PluginInfo-Name=youtub
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
X-KDE-PluginKeyword=kwin-custom-edge-script
